.banner {
    background: none repeat scroll 0 0 #f54f78;
    min-height: 446px;
    padding: 65px 37px 0;
    text-align: center;
}

.banner h3 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    margin: 0 0 14px;
}

.banner h2 {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
    margin: 0 0 -8px;
    text-transform: uppercase;
}

.banner p {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 33px;
}
.banner .shop_now {
    background: none repeat scroll 0 0 #fffcf8;
    color: #676767;
    display: block;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 96px;
}