.product-name h1
{
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
}

.box-description h1 {
    background: none repeat scroll 0 0 #fbfbfb;
    border: 1px solid #dddddd;
    color: #3a3a3a;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 12px 15px;
    position: relative;
}

.product-shop{
    float:left;
}
.price-box{
    float:left;
    color: #f04d52;
    font-size: 22px;
    font-weight: 600;
    margin-right: 50px;
}

.button-group{
    float:right;
}

.product-title{
    font-size: 13px;
    font-weight: normal;
}

.product-box{
    width:100%;
}

.availability-only{
    border-top: 1px solid #ececec;
}

.availability{
    color: #3a3a3a;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}

.block{
    float:left;
}

.block-content{
    float:left;
}

.block .block-title {
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    background: none repeat scroll 0 0 #f54f78;
    margin-bottom: 0;
    padding: 7px 15px 7px 38px;
    position: relative;
}

.block .block-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ebebeb #ebebeb;
    border-image: none;
    border-right: 1px solid #ebebeb;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 14px;
}

.block .block-content .mini-products-list{
    float:left;
    padding:0px;
}

.block .block-content .item{
    border-bottom: 1px solid #808080;
    float:left;
    width:100%;
    margin-bottom:10px;
}
.block .block-content .even{
    border-bottom: 0px;
}

.block .block-content .product{
    float:left;
}

.block .block-content .product .product-name{
    margin:0px;
}

.block .block-content .product-details{
    float:left;
}
.block .block-content .product-details .price{
    font-size:12px;
}

.add-to-cart{
    border-top: 1px solid #dbdbdb;
}
.add-to-cart .qty {
    background: none repeat scroll 0 0 #fff;
    font-size: 12px;
    padding: 3px 6px 4px 7px;
    text-align: center;
    width:42px;
}

.add-to-cart label {
    color: #3a3a3a;
    margin-right: 7px;
}

.btn-cart{
    background-color: #f5527d; !important;
    color:#FFF;
    line-height:100%;
}
.btn-cart:hover{
    background-color: #000; !important;
    color: #FFF;
}

