#box {
    padding: 5px;
    width: 414px;
    margin: auto;
    background: none;
    border: 1px solid #593729;
    font-size: 9pt;
    background: #ecf0f1;
}

#box .box_title {
    background: #593729;
    color: #fff;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#box .login_title {
    margin-left: 100px;
    font-size: 20px;
    color: #272727
}

form div.form_title {
    width: 80px;
}

form div.form_input {
    width: 170px;
}

.pos_login_form {
    border: 1px solid #593729;
    font-size: 9pt;
    padding: 10px 70px;
}

.pos_login_form .login_form_header {
    color: #272727;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.pos_login_form #submit {
    background: #593729;
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100%;
}