/* Sidebar */
#sidebar {
    display: block;
    float: left;
    z-index: 100;
    width: 175px;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    background: #3C3C3C;
    padding-top: 50px;
    overflow: hidden !important;
    transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
}
#sidebar ul {
    display: block;
    height: 100%;
    top: 0;
    padding-top: 50px;
    background: #3C3C3C;
    width: 175px;
}

#sidebar li {
    width: 175px;
}

#sidebar li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    width: 175px;
}

#sidebar li a span {
    display: inline-block !important;
}

#sidebar li a i {
    color: #fff;
}

#sidebar li:hover i {
}

#sidebar li:active i {
    background-color: #C3631C !important;
}

#sidebar.sales_minibar {
    width: 47px !important;
}

#sidebar.sales_minibar > ul > li.active > a {
    background-image: none !important;
}

#sidebar.sales_minibar:hover {
    width: 175px !important;
}

#sidebar > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 205px;
}

#sidebar > ul > li {
    display: block;
    position: relative;
}

#sidebar > ul > li.active {
    background-color: #C3631C !important;
}

#sidebar > ul > li > a {
    display: block;
    color: #AAAAAA;
    font-family: 'Signika Negative', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 10px 0;
}

#sidebar > ul > li > a > i {
    width: 47px;
    text-align: center;
    margin-right: 0
}

#sidebar > ul > li > ul > li > a > i {
    margin-right: 10px;
    width: 17px;
}

#sidebar > ul > li > a > .label {
    margin: 2px 20px 0 0;
    float: right;
    padding: 3px 5px 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

#sidebar > ul > li > a .arrow {
    float: right;
    margin: 5px 20px 0 -10px;
    font-size: 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#sidebar > ul > li.active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}

#sidebar > ul > li.open > a .arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#sidebar > ul > li.open ul {
    display: block !important;
}

#sidebar > ul ul {
    display: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    position: relative;
    list-style: none;
    background: #4c4c4c;
}

#sidebar > ul ul li a {
    padding: 10px 0 10px 25px;
    display: block;
    color: #999999;
    position: relative;
}

#sidebar > ul ul li:first-child a {
    border-top: 0;
}

#sidebar > ul ul li:last-child a {
    border-bottom: 0;
}

#sidebar > ul ul li.active a:before,
#sidebar > ul ul li.active a:after {
    font-family: 'FontAwesome';
    content: "\f101";
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
}

.flat #sidebar ul {
    margin-top: 0;
}

.flat #sidebar ul li a {
    text-shadow: none;
}

#sidebar > ul > li.active > a {
    background: url("../../images/menu-active.png") no-repeat scroll right center transparent !important;
}

@media (max-width: 767px) {
    #sidebar {
        float: none;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    #sidebar > a {
        padding: 7px 20px 7px 15px;
        box-shadow: 0 1px 0 #666666;
        margin-bottom: 1px;
        display: block !important;
        text-transform: uppercase;
        color: #eeeeee;
        font-size: 10px;
    }

    #sidebar > a > i {
        margin-right: 10px;
    }

    #sidebar > ul {
        margin: -2px 0 0 !important;
        width: 100% !important;
    }

    #sidebar > ul > li > a > span {
        display: inline !important;
    }

    #sidebar > ul > li.active > a {
        background: none !important;
    }

    #sidebar {
        width: 175px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #sidebar,
    #sidebar > ul {
        width: 43px;
    }

    #sidebar > ul {
        margin-top: -1px;
    }

    #sidebar > ul > li > a > span {
        display: none;
    }

    #sidebar > ul > li.open.submenu a {
        border-bottom: none !important;
    }

    #sidebar > ul ul {
        display: none;
        position: absolute;
        left: 50px;
        top: 0;
        min-width: 150px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        list-style: none;
    }

    #sidebar > ul ul:before {
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        content: "";
        display: inline-block;
        left: -6px;
        position: absolute;
        top: 12px;
    }

    #sidebar > ul ul:after {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        content: "";
        display: inline-block;
        left: -5px;
        position: absolute;
        top: 13px;
    }

    #sidebar > ul ul li a {
        white-space: nowrap;
        padding: 10px 25px;
    }

    #sidebar .arrow {
        display: none;
    }

    .flat #sidebar > ul {
        margin-top: 0;
    }

    .flat #sidebar > ul ul {
        border-radius: 0;
    }
}

@media (max-width: 991px) {
    #sidebar li.submenu > ul {
        display: none;
    }

    #sidebar {
        width: 47px;
    }

    #sidebar:hover {
        width: 175px;
    }

    #sidebar > ul > li.active > a {
        background-image: none !important;
    }
}