table{
    width:100%
}


table thead{
    font-weight:bold;
    font-size:12px;
    text-align:center;
}

table tr{
    border: 1px solid #ececec;
}

table thead th{
    text-align: center;
}

table td, table th{
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}


table thead tbody{
    border: 1px solid #ececec;
}

table img{
    max-width:100%;
}

table td{
    padding:5px;
}


table tfoot{
    text-align: right;
}