

#menu-trigger {
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    top: 10px;
    left: 7px;
    color: #dddddd;
    text-shadow: 0 1px 0 #000000;
    z-index: 22 !important;
    display: none;
}
/* Top user navigation */
#user-nav {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 20;
    margin: 0;
    min-height: auto !important;
    height: 25px !important;
}

#user-nav > ul {
    margin: -1px 0 0;
    padding: 0;
    list-style: none;
}
#user-nav > ul > li {
    float: left;
    list-style-type: none;
    margin: 0;
    position: relative;
    padding: 0;
}

#user-nav > ul > li > a {
    padding: 11.5px 10px;
    display: block;
}

#user-nav > ul > li > a,
#user-nav > ul > li > a > i {
    color: #2d2b2b;
}

#user-nav > ul > li > a > i {
    vertical-align: top;
    margin-right: 4px;
}

#user-nav > ul > li > a > .label {
    font-size: 10px;
    vertical-align: middle;
    padding: 2px 4px 2px;
    margin: -2px 4px 0;
    display: inline-block;
}

#user-nav > ul > li > a > .caret {
    border-top-color: rgba(255, 255, 255, 0.6);
}

#user-nav > ul > li:hover > a,
#user-nav > ul > li:hover > a > i,
#user-nav > ul > li.open > a,
#user-nav > ul > li.open > a > i {
    background-color: transparent;
    color: #000002;
}

#user-nav > ul > li:hover > a > .caret,
#user-nav > ul > li.open > a .caret {
    border-top-color: #fff;
}

#user-nav > ul ul > li > a {
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
}

#user-nav .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 280px;
}

#user-nav .dropdown-menu .title {
    color: #444444;
    text-align: left;
    font-size: 16px;
    padding: 5px 15px 10px;
    text-shadow: 0 1px 0 #ffffff;
}

#user-nav .dropdown-menu .title i {
    font-size: 18px;
    margin-right: 10px;
}

#user-nav .dropdown-menu .title .title-btn {
    right: 0;
    top: 13px;
    position: absolute;
    padding: 0;
}

#user-nav .dropdown-menu .title .title-btn i {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

#user-nav .dropdown-menu .title .title-btn:hover {
    background-color: transparent;
}

#user-nav .dropdown-menu .title .title-btn:hover i {
    color: rgba(0, 0, 0, 0.9);
}

#user-nav .dropdown-menu .message-item {
    text-align: left;
    border-top: 1px solid #eeeeee;
}

#user-nav .dropdown-menu .message-item a {
    padding: 5px 10px;
}

#user-nav .dropdown-menu .message-item a:hover {
    background-color: #f6f6f6 !important;
}

#user-nav .dropdown-menu .message-item img {
    float: left;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 5px;
}

#user-nav .dropdown-menu .message-item .message-content {
    margin-left: 50px;
}

#user-nav .dropdown-menu .message-item .message-content .message-time,
#user-nav .dropdown-menu .message-item .message-content .message-sender,
#user-nav .dropdown-menu .message-item .message-content .message {
    display: block;
}

#user-nav .dropdown-menu .message-item .message-content .message-time,
#user-nav .dropdown-menu .message-item .message-content .message {
    font-size: 12px;
}

#user-nav .dropdown-menu .message-item .message-content .message-sender {
    font-size: 14px;
}

#user-nav .dropdown-menu .message-item .message-content .message {
    white-space: normal;
    color: #666666;
}

#user-nav .dropdown-menu .message-item .message-content .message-time {
    float: right;
    margin-top: 2px;
    color: #999999;
}

#user-nav .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}

#user-nav .dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

