.messagebox{
    margin-bottom: 40px;
    background-color: #593729;
    border: 1px solid #cccccc;
    color: #fff;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 415px;
    font-size: 9pt;
}
.messagebox_error{
    background-color: #ffeded;
    border: 1px solid #f27c7c;
    color: #f00;
    font-weight: bold;
 }