
.dhx_cal_event{
    z-index: 1;
}
.dhx_cal_event div.dhx_footer,
.dhx_cal_event.past_event div.dhx_footer,
.dhx_cal_event.event_hold div.dhx_footer,
.dhx_cal_event.event_math div.dhx_footer,
.dhx_cal_event.event_complete div.dhx_footer{
    background-color: transparent !important;
}
.dhx_cal_event .dhx_body{
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
    opacity: 0.7;
}
.dhx_cal_event .dhx_title{
    line-height: 12px;
}
.dhx_cal_event_line:hover,
.dhx_cal_event:hover .dhx_body,
.dhx_cal_event.selected .dhx_body,
.dhx_cal_event.dhx_cal_select_menu .dhx_body{
    opacity: 1;
}

.dhx_cal_event.orange div, .dhx_cal_event_line.event_math{
    background-color: orange !important;
    border-color: #a36800 !important;
}
.dhx_cal_event_clear.event_math{
    color:orange !important;
}

.dhx_cal_event.event_complete div, .dhx_cal_event_line.event_complete{
    background-color: #36BD14 !important;
    border-color: #698490 !important;
}
.dhx_cal_event_clear.event_complete{
    color:#36BD14 !important;
}

.dhx_cal_event.event_hold div, .dhx_cal_event_line.event_hold{
    background-color: grey !important;
    border-color: #839595 !important;
}
.dhx_cal_event_clear.event_hold{
    color:#B82594 !important;
}

.dhx_cal_event.dhx_cal_select_menu.event_complete, .dhx_cal_event.event_complete{
}
.dhx_cal_header{
    overflow:visible;
}
.highlighted_timespan {
    z-index: 9999 !important;
    transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -webkit-transition: background-color 400ms;
    -o-transition: background-color 400ms;
    opacity:0.4;
    filter:alpha(opacity=40);
}
.highlighted_timespan:hover {
    background-color: #90ee90;
}

.Block{
/*    background: #FFFFE3; */
}

.dhx_cal_header .dhx_scale_bar div{
    border-left: 0px; !important;
}

.dhx_cal_header .dhx_scale_bar{
    padding-left:10px;
    padding-right:10px;
}

.dhx_cal_navline .dhx_cal_date {
    text-align: left;
    left:500px;
}

.dhx_cal_navline .dhx_cal_date {
    text-align: left;
    left:440px;
}

.dhx_cal_navline .dhx_cal_today_button {
    width: 40px;
    text-align: left;
    left:800px;
}

.dhx_cal_navline .dhx_cal_prev_button {
    text-align: left;
    left:850px;
}

.dhx_cal_navline .dhx_cal_next_button {
    text-align: left;
    left:890px;
}

.dhx_cal_navline #dhx_minical_icon {
    left: 395px !important;
}

.dhx_cal_navline div[name=grid_tab] {
    left: 325px !important;
}

.dhx_scale_holder{
  /*  background: none;*/
    background-size: 1px 66px;
}
.dhx_scale_holder .highlighted_timespan  {
    border-bottom: 1px solid grey;
}
.dhx_scale_holder_now {
    background-image: url('../../../libraries/dhtmlx/scheduler/imgs_flat/databg.png');
    background-size: 1px 66px;
}
.dhx_scale_holder_now .highlighted_timespan  {
    border-bottom: 1px solid grey;
}
.dhx_time_block_inner_html{
    line-height: 15px;
    font-size: 16px;
}

.dhx_cal_quick_info .icon_create_bill div {
    padding-left: 8px;
}
.icon_create_bill{
    background: #009900 none repeat scroll 0 0;
}

.dhx_cal_quick_info .icon_reserve div {
    padding-left: 12px;
}
.icon_reserve{
    background: #DC3023 none repeat scroll 0 0;
}
.dhx_cal_quick_info .icon_custom_delete div{
    padding-left: 12px;
}

.icon_custom_delete{
    text-align: center;
    background: #c87f0a none repeat scroll 0 0;
}

.dhx_cal_quick_info .icon_details {
    margin-left: 0px;
}

body {
    overflow-x: auto;
    overflow-y: auto;
}

.new_booking_style {
    background-color: #C8F9CC ;
    color: #fff ;
}

.new_booking_style .booking_slot_content {
    padding: 5px 0px 0px 10px;
    font-size: 14px;
    line-height: 18px;
    background-color: #C8F9CC ;
}

.new_booking_style .booking_slot_head {
    background-color: #C8F9CC ;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
}

.grid_header_col_style {
    font-size: 14px;
    font-weight: bold;
}

.grid_col_style {
    font-size: 16px;
    line-height: 26px;
}

.dhx_cal_event .dhx_body, .dhx_cal_event_line {
    font-size: 14px !important;
}

.dhx_time_block {
 /*   background-color: #eed8ba;*/
    opacity: 1;
 /*   z-index: 10 !important;  */
    color: #000;
    overflow: hidden;
}

.open_store_time {
    background-color: #F2F2F2;
}

.absent-btn div {
    color: blue;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
}

.dhx_cal_event .dhx_title {
    background-color: #3B67A7;
    opacity: 1;
}

.dhx_cal_event .dhx_body{
    background-color: #497FCF;
    border-bottom: 1px solid #AFAFAF;
    opacity: 1;
}

.dhx_cal_header .dhx_scale_bar {
    font-size: 16px !important;
}

#not_available_rooms {
    width: 210px;
    height: 34px;
    position: absolute;
    top: 2px;
    right: -210px;
    background: burlywood;
    z-index: 5;
    color: red;
}

#room_notify {
    line-height: 22px;
    padding: 5px;
}

#room_notify .lefttext {
    float: left;
    width: 130px;
}

#room_notify .righttext {
    float: right;
    width: 50px;
    cursor: pointer;
}

#room_notify_content {
    display: none;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    padding: 8px;
    background: burlywood;
    color: darkblue;
}

.unit_tab{
    left: 300px !important;
}

.search_content{
    position: absolute;
    top: 50px !important;
    left: 50px !important;
    width: 1024px;
    height:auto;
    background: whitesmoke;
    border: 1px solid;
    padding: 10px;
    z-index : 1000;
}

.booking_trackback_span{
    margin-left: 30px;
}