.progress-table .passed{
    cursor: pointer;
    color: #FFF;
}

.progress-table td {
    color: #000;
}


.items{
    /*border-right:1px solid #F5527D;*/
    padding: 10px 0px 10px 0px;
    /*margin-right: -16px;*/
    /*width: 250px;*/
    border-right: 1px solid #593729;
}
.child-item
{
    padding: 7px;
    cursor:pointer;
}
.child-item:hover{
    font-weight: bold;
}



.child-active{
    border-top: 1px solid #593729;
    border-bottom: 1px solid #593729;
    color: #F5527D;
    background: url(../../../../images/bg-categories.png) no-repeat right center;
}

/***********************************/
#boder-left{
    border-left: #593729 1px solid;
    margin-left: -16px;
}

@media screen and (max-width: 1000px) {
    #boder-left {
        border-left: none;
        margin-left: -10px;
    }
    #employee-chosen #boder-left {
        margin-left: 0;
    }
}

#showservice{
    margin-left: -16px;
}
#showservice > h3{
    padding-left: 40px;
}
.child-service{
    margin-bottom: 10px;
    cursor:pointer;

}
.child-service > .title-service{
    font-family: "Petrona",arial,serif;
    color: #3c2313;
    padding-left: 40px;
}

.child-service > .title-service:hover{
    font-family: "Petrona",arial,serif;
    color: #3c2313;
    padding-left: 40px;
    font-weight: bold;
}

.child-service > .description-service{
    color: #000000;
    padding-left: 40px;
}
.child-service:hover > .title-service{
    /*color: #F5527D;*/
    /*border-top: 1px solid #F5527D;
    border-bottom: 1px solid #F5527D;*/
    color: #3c2313;
    background: url(../../../../images/bg-left.png) no-repeat left center;
}

.child-service > .text-black{
    color: #777; !important;
}

.xdsoft_datetimepicker  .xdsoft_calendar td.xdsoft_disabled{
    opacity:0.1;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.selecting{
    background-color: #33aaff; !important;
    color:#FFF;
}

.container_item{
    display: inline-block;
    width: 100%;
}
.name_form{
    float: left;
    text-align: right;
    margin: 5px;
    width: 150px;
    padding-right: 5px;
    position: relative;
}

.input_form input{
    float: left;
    padding:4px;
    margin: 5px;
    width: 220px;
}

.input_form textarea{
    width: 455px;
    height: 70px;
    margin: 5px;
}

#progressbar{
    margin-top: 10px;
    border-radius: 0px;
}

.review_detail_ctm{
    height: 30px;
}

.link_booking a:active{
    color: #033B66;
}

.link_booking a:hover{
    color: orange;
}

.link_change_process{
    color: #3c2313;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.backward-text{
    float:left;
}

.mandatory{
    color: #f60;
    font-size: 15pt;
    position: absolute;
    top: 0px;
    right: -6px;
}

.button-submit{
    text-align: center;
    border: 0px;
    color: #2d2b2b;
    font-weight: 700;
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 5px;
    min-width: 95px;
}

.ui-widget-content {
    background: url("../../../../images/progressbar_bg.png") repeat-x;
    color: #333;
}

.ui-widget-header {
    background: url("../../../../images/progressstep_bg.png") 50% 50% repeat-x;
    color: #fff;
    font-weight: bold;
    position: relative;
    border: none;
}

#progressbar_end_img{
    position: absolute;
    top: 0px;
    right: 0px;
}

#progressbar {
    height: 14px;
}

.notetext_rightcol, #business_info{
    font-size: 13px;
}

#reg_name, #email_res, #password, #re_password, #mobilenum, #recovery_email{
    font-size: 13px;
}

#fix_float_input{
    display: none;
    clear: both;
}

@media screen and (max-width: 666px) {
    #fix_float_input{
        height: 1px;
        display: block;
    }
}

.menu-tab-item{
    border-bottom: 1px solid #3c2313 !important;
}

.menu-tab-item>li{

}

.menu-tab-item>li>a{
    background: #3c2313;
}