@media print
{
    #csv, #excel
    {
        display: none !important;
    }
}


.under{text-decoration: underline;font-weight: bold;font-size: 13px;}

.printLayout{
    padding: 0!important;
}
.printLayout td,.printLayout th{
    font-size: 10px !important;
}
.sum_total{
    font-weight: bold;
}

.table-row-toggle{
    font-weight:bold;
    color:red;
    text-decoration: underline;
}
.text-level-0{
    color: #000000;
    font-weight: bolder;
}

.text-level-1{
    color: #F00;
    font-weight: bold;
}

.text-level-2{
    color: #A94442;
}

.text-level-3{
    color: #337AB7;
}

