img.product{
    max-width:100%;
}

.btn-product{
    border-radius:0px;
    float:left;
}

.btn-product:hover{
    background-color: #000 !important;
}


.btn-cart{
    background-color: #f5527d;
    color: #FFF;
}
.btn-cart:hover{
    background-color: #000;
    color: #FFF;
}


.thumbnail{
    float:left;
}

.price-box{
    float:left;
    color: #f04d52;
    font-size: 22px;
    font-weight: 600;
    margin-right: 50px;
}

.button-group{
    float:right;
}

.product-title{
    font-size: 13px;
    font-weight: normal;
}

.product-box{
    width:100%;
}