

li{
    list-style-type:none;
}
.icon-spin {
    animation: 2s linear 0s normal none infinite running spin;
    display: inline-block;
}
.no-border-radius {
    border-radius: 0 !important;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-justify {
    text-align: justify;
}
.text-line-through {
    text-decoration: line-through;
}
.social-google {
    background-color: #da573b;
    border-color: #be5238;
    color: #ffffff !important;
}
.social-google:hover {
    background-color: #be5238;
    border-color: #9b4631;
    color: #ffffff !important;
}
.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
    color: #ffffff !important;
}
.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
    color: #ffffff !important;
}
.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
    color: #ffffff !important;
}
.social-facebook:hover {
    background-color: #47618d;
    border-color: #3c5173;
    color: #ffffff !important;
}
input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"], input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0 !important;
    margin-top: 3px;
}
* {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
label {
    font-weight: normal;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #f7f0e0;
    color: 	#725641;
    font-family: "Petrona",arial,serif;
    /*font-size: 12px;*/
    font-size: 14px;
    line-height: 1.42857;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #444444;
    outline: medium none;
    text-decoration: none;
}
a:hover, a:focus {
    color: #2d2b2b;
    outline: medium none !important;
    text-decoration: none;
    font-weight: bold;
}
.box-info a:hover {
    color: #fff;
}
a:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}
a.text-primary {
    color: #2d2b2b;
}
a.text-primary:hover, a.text-primary:focus {
    color: #444444;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.img-circle {
    border-radius: 50%;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eeeeee -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 18px;
    margin-top: 18px;
}
.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.block-heading {
    border-bottom: 1px dashed #e5e5e5;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.hide {
    display: none;
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    background-color: #f7f0e0;
    padding: 0;
    min-height: 768px;
}
@media (min-width: 768px) {
    #page-wrapper {
        margin: 0;
        padding: 0;
        position: inherit;
    }
}

#topbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background: none repeat scroll 0 0 #dcd1bd;
    font-size: 11px;
    height: auto;
    line-height: 46px;
}
#topbar .topbar-language a {
    margin-left: 7px;
}
#topbar .topbar-language a img {
    margin-bottom: 3px;
    max-width: 360px;
    margin-left: -20px;
}
#topbar .topbar-store #btn-register-store {
    background: none repeat scroll 0 0 #00c0be;
    color: #444444;
    padding-left: 10px;
}
#topbar .topbar-store #btn-register-store span.ico-check {
    background: url("../../images/icons/icon-check.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    width: 10px;
}
#topbar .topbar-member {
    text-align: right;
}
#topbar .topbar-member a {
    /*margin-left: 7px;*/
}
#topbar .topbar-member #btn-login {
    background: none repeat scroll 0 0 #00c0be;
    color: #fff;
    padding-left: 10px;
}
#topbar .topbar-member #btn-login span.ico-check {
    background: url("../../images/icons/icon-check.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    width: 10px;
}
#topbar .topbar-member #btn-register {
    background: none repeat scroll 0 0 #00c0be;
    color: #fff;
}
#topbar a {
    margin-bottom: 3px;
}
#page-header {
    height: 110px;
    padding: 0;
}
#page-header .header-logo {
    padding-bottom: 10px;
    padding-top: 10px;
}
#page-header .header-search-option {
    padding-bottom: 25px;
    padding-top: 25px;
}
#page-header .header-search-option h1.label-search-option {
    color: #4e7f71;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
}
#page-header .header-search-option .search-option select {
    -moz-appearance: none;
    background: url("../../images/icons/icon-dropdown.png") no-repeat scroll 110px center #f8e4cc;
    border: 0 none;
    border-radius: 4px;
    line-height: 1;
    margin-right: 7px;
    padding: 5px;
    text-indent: 0.01px;
    width: 130px;
}
#page-header .header-search {
    padding-bottom: 15px;
    padding-top: 15px;
}
#page-header .header-search .follow-us {
    margin-bottom: 10px;
    text-align: right;
}
#page-header .header-search .follow-us span {
    vertical-align: top;
}
#page-header .header-search .input-group input {
    height: 30px;
}
#page-header .header-search .input-group .input-group-btn .btn {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
#page-header .header-search .icon-facebook {
    background: url("../../images/icons/ico-facebook.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 24px;
    width: 24px;
}
#page-header .header-search .icon-google-plus {
    background: url("../../images/icons/ico-google-plus.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 24px;
    width: 24px;
}
#page-menu {
}
#page-menu ul#menu > li.active > a {
    background: none repeat scroll 0 0 #00c0be;
    border-bottom: 0 solid #00c0be;
}
#page-menu ul#menu > li > a {
    background: none repeat scroll 0 0 #00c0be;
    border-bottom: 0 solid #00c0be;
    color: #ffffff;
    font-size: 35px;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
#page-menu ul#menu > li > a:hover, #page-menu ul#menu > li > a:focus {
    background: none repeat scroll 0 0 #0093c0;
    border-bottom: 0 solid #0093c0;
    outline: medium none;
}
#page-menu ul#menu > li > a .icon-nav-location {
    background: url("../../images/icons/nav-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 20%;
    height: 45px;
    left: 15%;
    position: absolute;
    width: 35px;
}
.img-menu {
    margin: -26px -10px -20px -70px;
    padding: 0 !important;
}
#page-menu ul#menu > li > a .icon-nav-lamdep {
    background: url("../../images/icons/nav-lamdep.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 12%;
    height: 59px;
    left: 15%;
    position: absolute;
    width: 60px;
}
#page-menu ul#menu > li > a .icon-nav-anuong {
    background: url("../../images/icons/nav-anuong.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 12%;
    height: 58px;
    left: 15%;
    position: absolute;
    width: 60px;
}
#page-menu ul#menu > li > a .icon-nav-coupon {
    background: url("../../images/icons/nav-voucher.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 12%;
    height: 58px;
    left: 15%;
    position: absolute;
    width: 76px;
}
#page-menu ul#menu > li > a .icon-dropdown {
    background: url("../../images/icons/nav-dropdown.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 42%;
    height: 8px;
    position: absolute;
    right: 22%;
    width: 14px;
}
#page-menu ul#menu > li > a .icon-new {
    background: url("../../images/icons/ribbon-new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 35%;
    height: 20px;
    position: absolute;
    right: 30px;
    width: 43px;
}
#page-menu ul#menu > li ul.dropdown-menu {
    border-radius: 0;
    padding: 0;
}
#page-menu ul#menu > li ul.dropdown-menu li ul.submenu li {
    border-bottom: 1px dashed #e5e5e5;
    padding: 10px;
}
#page-menu ul#menu > li ul.dropdown-menu li ul.submenu li:last-child {
    border-bottom: 0 none;
}
#page-menu ul#menu > li ul.dropdown-menu li ul.submenu li a {
    color: #3c4737;
    padding: 20px 0;
}
#page-menu ul#menu > li ul.dropdown-menu li ul.submenu li a:hover, #page-menu ul#menu > li ul.dropdown-menu li ul.submenu li a:focus {
    color: #07ad87;
    text-decoration: underline;
}
#page-menu ul#menu > li ul.dropdown-menu li ul.submenu li span {
    float: right;
}
#page-menu ul#menu > li ul.dropdown-menu li ul.submenu li span.ribbon-new {
    background: url("../../images/icons/ribbon-new.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    width: 43px;
}
#page-menu ul#menu.menu2 {
    display: none;
}
#page-menu ul#menu.menu2 li a .icon-nav-lamdep {
    left: 10%;
}
#page-menu ul#menu.menu2 li a .icon-new {
    right: 10px;
}
#page-menu ul#menu.menu2 li a .icon-nav-anuong {
    left: 10%;
}
#page-menu ul#menu.menu2 li a .icon-nav-coupon {
    left: 7%;
}
#page-menu ul#menu.menu-fixed {
    animation: 300ms ease-in-out 0s normal none 1 running moveFromTop_menu;
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 998;
}
@keyframes moveFromTop_menu {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.page-content {
    padding: 0;
}
.page-content #page-slider, .page-content #page-coupon {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 15px;
    padding: 15px 0;
}
.page-content #page-slider {
    margin-top: 10px;
}
.page-content #page-slider #carousel-large, .page-content #page-coupon #carousel-large {
    height: 350px !important;
    width: 100%;
}
.page-content #page-slider #carousel-large .cycle-overlay, .page-content #page-coupon #carousel-large .cycle-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 40px;
    color: white;
    left: 13%;
    padding: 10px;
    position: absolute;
    width: 70%;
    z-index: 600;
}
.page-content #page-slider #carousel-large .cycle-overlay div:first-child, .page-content #page-coupon #carousel-large .cycle-overlay div:first-child {
    font-family: "MinionPro";
    font-size: 18px;
    text-transform: uppercase;
}
.page-content #page-slider #carousel-small, .page-content #page-coupon #carousel-small {
    height: 350px !important;
    width: 100%;
}
.page-content #page-slider #carousel-large .item, .page-content #page-slider #carousel-small .item, .page-content #page-coupon #carousel-small .item {
    position: relative !important;
}
.page-content #page-slider #carousel-large .item a img {
    height: 350px;
}
.page-content #page-slider #carousel-small .item a img, .page-content #page-coupon #carousel-small .item a img {
    height: 170px;
    margin-bottom: 10px;
}
.page-content #page-slider #carousel-small .item .caption, .page-content #page-coupon #carousel-small .item .caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 40px;
    padding: 0 20px;
    position: absolute;
    width: 100%;
}
.page-content #page-slider #carousel-large .item .caption p, .page-content #page-slider #carousel-large .item .caption h4, .page-content #page-slider #carousel-small .item .caption h4, .page-content #page-coupon #carousel-small .item .caption h4 {
    color: #fff;
    font-family: "MinionPro";
    text-transform: uppercase;
}
.page-content #page-slider .carousel-large-direct, .page-content #page-coupon .carousel-large-direct {
    height: 32px;
    position: absolute;
    top: 45%;
    width: 100%;
}
.page-content #page-slider .carousel-large-direct .arrow-left, .page-content #page-coupon .carousel-large-direct .arrow-left {
    left: 32px;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    z-index: 500;
}
.page-content #page-slider .carousel-large-direct .arrow-left:hover, .page-content #page-coupon .carousel-large-direct .arrow-left:hover {
    left: 15px;
}
.page-content #page-slider .carousel-large-direct .arrow-right, .page-content #page-coupon .carousel-large-direct .arrow-right {
    position: absolute;
    right: 64px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 500;
}
.page-content #page-slider .carousel-large-direct .arrow-right:hover, .page-content #page-coupon .carousel-large-direct .arrow-right:hover {
    right: 52px;
}
.page-content #page-slider .carousel-small-direct, .page-content #page-coupon .carousel-small-direct {
    height: 100%;
    left: 45%;
    position: absolute;
    top: 0;
}
.page-content #page-slider .carousel-small-direct .arrow-up, .page-content #page-coupon .carousel-small-direct .arrow-up {
    position: absolute;
    top: -15px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 500;
}
.page-content #page-slider .carousel-small-direct .arrow-up:hover, .page-content #page-coupon .carousel-small-direct .arrow-up:hover {
    top: -27px;
}
.page-content #page-slider .carousel-small-direct .arrow-down, .page-content #page-coupon .carousel-small-direct .arrow-down {
    bottom: -15px;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    z-index: 500;
}
.page-content #page-slider .carousel-small-direct .arrow-down:hover, .page-content #page-coupon .carousel-small-direct .arrow-down:hover {
    bottom: -27px;
}
.page-content .arrow-left {
    background: url("../../images/icons/arrow-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    width: 32px;
}
.page-content .arrow-right {
    background: url("../../images/icons/arrow-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    width: 32px;
}
.page-content .arrow-up {
    background: url("../../images/icons/arrow-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    width: 32px;
}
.page-content .arrow-down {
    background: url("../../images/icons/arrow-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    width: 32px;
}
.carousel-coupon {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #828282;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.carousel-coupon .sub-title {
    float: left;
    font-style: italic;
    margin-top: 2px;
    padding: 10px 20px;
}
.carousel-coupon .carousel-coupon-direct {
    background: none repeat scroll 0 0 #dbdbdb;
    float: right;
    height: 40px;
    padding: 0;
}
.carousel-coupon .carousel-coupon-direct #carousel-coupon-prev.coupon-arrow-left {
    background: url("../../images/icons/coupon-arrow-left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    padding: 20px 35px;
    width: 13px;
}
.carousel-coupon .carousel-coupon-direct #carousel-coupon-prev.coupon-arrow-left:hover, .carousel-coupon .carousel-coupon-direct #carousel-coupon-prev.coupon-arrow-left:focus {
    background: url("../../images/icons/coupon-arrow-left.png") no-repeat scroll center center #aaaaaa;
}
.carousel-coupon .carousel-coupon-direct #carousel-coupon-next.coupon-arrow-right {
    background: url("../../images/icons/coupon-arrow-right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    padding: 20px 35px;
    width: 13px;
}
.carousel-coupon .carousel-coupon-direct #carousel-coupon-next.coupon-arrow-right:hover, .carousel-coupon .carousel-coupon-direct #carousel-coupon-next.coupon-arrow-right:focus {
    background: url("../../images/icons/coupon-arrow-right.png") no-repeat scroll center center #aaaaaa;
}
.carousel-coupon-content, .item-coupon, .item-coupon-proposed {
    margin-bottom: 25px;
}
.item-history {
    float: left;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.carousel-coupon-content .cp-thumb, .item-coupon .cp-thumb, .item-coupon-proposed .cp-thumb {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}
.carousel-coupon-content .cp-sale, .item-coupon .cp-sale, .item-coupon-proposed .cp-sale {
    background: url("../../images/icons/coupon-sale.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #ffffff;
    height: 28px;
    left: 64px;
    position: absolute;
    text-align: center;
    width: 44px;
}
.carousel-coupon-content .cp-date, .item-coupon .cp-date, .item-coupon-proposed .cp-date {
    color: #979797;
    font-size: 12px;
}
.carousel-coupon-content .cp-name, .item-coupon .cp-name, .item-coupon-proposed .cp-name {
    line-height: 18px;
}
.carousel-coupon-content .cp-btn {
    bottom: 10px;
    margin-top: 30px;
    position: absolute;
    right: 85px;
}
.carousel-coupon-content .cp-btn1 {
    position: absolute;
    right: 85px;
}
.carousel-coupon-content .cp-name, .item-coupon .cp-name, .item-coupon-proposed .cp-name {
    margin-bottom: 5px;
}
.carousel-coupon-content .cp-name a, .item-coupon .cp-name a, .item-coupon-proposed .cp-name a {
    font-family: "MinionPro";
    font-size: 18px;
}
.carousel-coupon-content .cp-name a:hover, .item-coupon .cp-name a:hover, .item-coupon-proposed .cp-name a:hover, .carousel-coupon-content .cp-name a:focus, .item-coupon .cp-name a:focus, .item-coupon-proposed .cp-name a:focus {
    text-decoration: underline;
}
.carousel-coupon-content .cp-desc, .item-coupon .cp-desc, .item-coupon-proposed .cp-desc {
    color: #6f6f6f;
    font-size: 12px;
    margin-bottom: 20px;
}
.carousel-coupon-content .cp-btn a, .item-coupon .cp-btn a, .item-coupon-proposed .cp-btn a {
    background: none repeat scroll 0 0 #00c0be;
    font-size: 12px;
    padding: 3px 25px;
}
.carousel-coupon-content .cp-btn a:hover, .item-coupon .cp-btn a:hover, .item-coupon-proposed .cp-btn a:hover, .carousel-coupon-content .cp-btn a:focus, .item-coupon .cp-btn a:focus, .item-coupon-proposed .cp-btn a:focus {
    background: none repeat scroll 0 0 #07ad87;
}
.carousel-coupon-content .row > .col-md-4:hover .cp-thumb, .carousel-coupon-content .row > .col-md-4:focus .cp-thumb {
    opacity: 0.6;
}
.carousel-coupon-content .row > .col-md-6:hover .cp-thumb, .carousel-coupon-content .row > .col-md-6:focus .cp-thumb {
    opacity: 0.6;
}
.item-coupon:hover .cp-thumb, .item-coupon:focus .cp-thumb {
    opacity: 0.6;
}
#menu {
    position: relative;
}
.item-coupon-proposed {
    margin-bottom: 25px !important;
}
.item-coupon-proposed .cp-thumb {
    margin: 0 40px 10px 0;
}
.item-coupon-proposed .cp-time {
    margin-top: 60px;
}
.item-coupon-proposed .cp-time span {
    font-family: "MinionPro";
    font-size: 18px;
    margin-bottom: 5px;
}
.item-coupon-proposed .cp-time h4 {
    color: #828282;
    font-size: 24px;
    font-weight: bold;
}
#page-coupon .title-coupon-proposed {
    color: #828282;
}
#page-coupon .item-coupon {
    margin-bottom: 25px !important;
}
h4.box-title {
    float: left;
    margin: 0;
    padding: 9px 20px;
}
h4.box-title a {
    color: #828282;
    text-transform: uppercase;
}
.box-heading {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #828282;
    display: block;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.box-content {
    background: none repeat scroll 0 0 #e6e6e6;
    display: block;
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.box-content .box-thumb img {
    width: 100%;
}
.box-img {
    width: 50%;
}
.box-content .box-ribbon-opened {
    background: url("../../images/icons/opened.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 39px;
    left: 0;
    position: absolute;
    top: 0;
    width: 155px;
}
.box-content .box-ribbon-interesting {
    background: url("../../images/icons/ribbon-interesting.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 39px;
    left: 0;
    position: absolute;
    top: 0;
    width: 85px;
}
.box-content .box-info {
    font-size: 12px;
    padding: 5px 2px;
}
.box-content.form-search {
    background: none repeat scroll 0 0 #ffffff !important;
}
.box-content.form-search .box-ribbon-opened {
    left: 15px;
}
.box-content.form-search .box-thumb {
    margin-bottom: 10px;
}
.box-content.form-search .box-ribbon-interesting {
    left: 15px;
}
.box-content.form-search .box-info {
    background: none repeat scroll 0 0 #e6e6e6;
}
.box-content.form-search p.box-desc {
    border-bottom: 0 none !important;
    margin-bottom: 25px !important;
    padding-bottom: 0 !important;
}
.box-content.form-search .box-name {
    display: inline-block;
}
.box-content.form-search .ribbon-new {
    background: url("../../images/icons/ribbon-new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 43px;
}
.box-infos {
    background: none repeat scroll 0 0 #d2f8ff;
    float: left;
    padding: 10px;
    width: 100%;
}
.box-infos span {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 6px;
    position: absolute;
}
.box-infos .icon-eyes {
    background: url("../../images/icons/icon-eyes.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 31px;
}
.box-infos .icon-like {
    background: url("../../images/icons/icon-like.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 17px;
    width: 19px;
}
.box-infos .box-social {
    background: none repeat scroll 0 0 #11978f;
    float: left;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.box-infos .box-social a {
    color: #ffffff;
    float: left;
    padding: 5px 0;
    width: 50%;
}
.box-name {
    border-left: 3px solid #f5527d;
    float: left;
    margin: 0 0 10px;
    padding-left: 20px;
    width: 100%;
}
.box-name a {
    font-family: "MinionPro";
    font-size: 18px;
}
.box-name a:hover, .box-name a:focus {
    text-decoration: underline;
}
.box-desc {
    margin-bottom: 20px;
}
ul.box-list li {
    border-top: 1px dashed #777777;
    padding: 15px 0;
    position: relative;
}
ul.box-list li {
    width: 100%;
}
ul.box-list li .thumb img {
    float: left;
    margin: 0 10px 10px 0;
}
ul.box-list li .date {
    color: #979797;
    font-size: 12px;
    margin-bottom: 5px;
}
ul.box-list li a.name {
    font-family: "MinionPro";
    font-size: 18px;
}
ul.box-list li a.name:hover, ul.box-list li a.name:focus {
    text-decoration: underline;
}
ul.box-list li .address {
    margin-top: 7px;
}
ul.box-list li .social a {
    font-size: 12px;
    margin-right: 10px;
}
ul.box-list li .ribbon-new {
    background: url("../../images/icons/ribbon-new.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 22px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 43px;
}
.tab-content.list-address-detail {
    display: block;
    float: left;
    width: 100%;
}
.tab-content.list-address-detail p.box-desc {
    border-bottom: 1px dashed #777777;
    padding-bottom: 20px;
}
.tab-content.list-address-detail p.box-desc.no-border-bottom {
    border-bottom: 0 none;
    margin-bottom: 0;
}
.col-left {
    border-right: 1px solid #e5e5e5;
}
.col-left .tab-location {
    border-bottom: 1px solid #b8b8b8;
    position: relative;
}
.col-left .tab-location .nav-tabs.list-address {
    border-bottom: 0 none !important;
}
.col-left .tab-location .nav-tabs.list-address li.active a {
    background: url("../../images/icons/arrow-tabs.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #828282;
    display: inline-block;
    width: 100%;
}
.col-left .tab-location .nav-tabs.list-address li a {
    border: 0 none !important;
    color: #828282;
}
.col-right .tab-content.list-recent ul.box-list li {
    border-bottom: 1px dashed #777777;
    border-top: 0 none;
}
.col-right .tab-content.list-recent ul.box-list li:first-child {
    padding-top: 0;
}
.col-right .tab-content.list-recent ul.box-list li .date {
    margin-bottom: 0;
}
.col-right .tab-content.list-recent ul.box-list li a.name {
    font-size: 16px;
}
.col-right .tab-content.list-recent ul.box-list li .address {
    margin-bottom: 3px;
    margin-top: 3px;
}
.col-right .box-advertise {
    margin: 20px 0;
}
.col-right .icon-book {
    background: url("../../images/icons/icon-book.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 24px;
    position: absolute;
    top: 8px;
    width: 21px;
}
.col-right .icon-user {
    background: url("../../images/icons/icon-user.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 24px;
    position: absolute;
    top: 8px;
    width: 26px;
}
.box-analysis {
    background: none repeat scroll 0 0 #f4f4f4;
    margin: 20px 0;
    padding: 30px 20px;
    position: relative;
}
.box-analysis ul.list-analysis {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.box-analysis ul.list-analysis li {
    display: inline-block;
    text-align: center;
    width: 19.5%;
}
.box-analysis ul.list-analysis li label {
    color: #cdcdcd;
    display: block;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}
.box-analysis ul.list-analysis li .number {
    color: #07ad87;
    font-size: 25px;
}
.ico-locations {
    background: url("../../images/icons/ico-locations.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    position: relative;
    width: 22px;
}
.ico-phones {
    background: url("../../images/icons/ico-phones.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    position: relative;
    width: 32px;
}
.ico-mails {
    background: url("../../images/icons/ico-mails.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    position: relative;
    width: 24px;
}
.ico-web {
    background: url("../../images/icons/ico-web.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 35px;
    position: relative;
    width: 24px;
}
.page-footer {
  /*  position:relative;
    bottom:0;*/
    background: none repeat scroll 0 0 #dcd1bd;
    color: #ffffff;
    padding: 20px 0 15px;
}
.page-footer h4.box-title {
    border-bottom: 1px solid #77b1a2;
    padding-bottom: 20px;
    padding-left: 0;
    margin:auto;
    text-transform: uppercase;
    min-width: 100%;
}
.page-footer .ico-location {
    background: url("../../images/icons/ico-location.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    width: 22px;
}
.page-footer .ico-phone {
    background: url("../../images/icons/ico-phone.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 32px;
    width: 32px;
}
.page-footer .ico-mail {
    background: url("../../images/icons/ico-mail.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 24px;
}
.page-footer ul.info-us {
    margin-top: 25px;
}
.page-footer ul.info-us li {
    border-bottom: 1px dashed #6bc1aa;
    padding: 15px 0;
}
.page-footer ul.info-us li .ico {
    width: 35px;
}
.page-footer ul.info-us li a {
    color: #ffffff;
}
.page-footer ul.info-us li:first-child {
    border-top: 1px dashed #6bc1aa;
}
@media (min-width: 768px) {
    .box-newsletter {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .box-newsletter {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .box-newsletter {
        width: 1170px;
    }
}
.box-newsletter {
    background: none repeat scroll 0 0 #00c0be;
    bottom: 0;
    height: 54px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 999;
}
.box-newsletter .input-icon {
    width: 340px;
}
.box-newsletter input {
    border-radius: 0;
}
.box-newsletter input::-moz-placeholder {
    color: #4b4b4b;
    font-style: italic;
}
.box-newsletter inputinput:-moz-placeholder {
    color: #4b4b4b;
    font-style: italic;
}
.box-newsletter .inner {
    border-bottom: 1px solid #77b1a2;
    margin-top: 16px;
    width: 66%;
}
.box-newsletter .ico-plus {
    background: url("../../images/icons/ico-plus.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 24px;
    width: 24px;
}
.box-newsletter .ico-facebook {
    background: url("../../images/icons/ico-facebook.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 24px;
    position: absolute;
    right: 30%;
    top: 16px;
    width: 24px;
}
.box-newsletter .ico-google-plus {
    background: url("../../images/icons/ico-google-plus.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 24px;
    position: absolute;
    right: 27%;
    top: 16px;
    width: 24px;
}
.box-newsletter .ico-hotline {
    background: url("../../images/icons/icon-hotline.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 36px;
    margin: 0 5px;
    width: 36px;
}
.box-newsletter .hotline {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    right: 15px;
    top: 10px;
}
.box-newsletter .hotline p {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 7px;
    text-transform: uppercase;
    vertical-align: top;
}
.copyright {
    margin-top: 20px;
    text-align: center;
}
.input-icon {
    float: left;
    position: relative;
    width: 30%;
}
.input-icon input {
    float: left;
    padding-left: 33px !important;
}
.input-icon i {
    color: #ccc;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 16px;
    margin: 10px 2px 4px 10px;
    position: absolute;
    text-align: center;
    width: 16px;
}
.input-icon.right input {
    float: left;
    padding-left: 12px !important;
    padding-right: 33px !important;
}
.input-icon.right i {
    float: right;
    margin-top: 5px;
    right: 5px;
}
.has-success .input-icon > i {
    color: #5cb85c;
}
.has-warning .input-icon > i {
    color: #f0ad4e;
}
.has-error .input-icon > i {
    color: #d9534f;
}
.affix-bottom {
    position: absolute;
}
ul.list-coupon li {
    border-bottom: 1px dashed #777777;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
ul.list-coupon li:last-child {
    border-bottom: 0 none;
}
ul.list-coupon li .coupon-info .cp-thumb {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}
ul.list-coupon li .coupon-info .cp-sale {
    background: url("../../images/icons/coupon-sale.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #ffffff;
    height: 28px;
    left: 14%;
    position: absolute;
    text-align: center;
    width: 44px;
}
ul.list-coupon li .coupon-info .cp-date {
    color: #979797;
    font-size: 12px;
}
ul.list-coupon li .coupon-info .cp-name {
    margin-bottom: 5px;
}
ul.list-coupon li .coupon-info .cp-name a {
    font-family: "MinionPro";
    font-size: 18px;
}
ul.list-coupon li .coupon-info .cp-name a:hover, ul.list-coupon li .coupon-info .cp-name a:focus {
    text-decoration: underline;
}
ul.list-coupon li .coupon-info .cp-desc {
    color: #6f6f6f;
    font-size: 12px;
    margin-bottom: 20px;
}
ul.list-coupon li .coupon-countdown .cp-btn a {
    background: none repeat scroll 0 0 #00c0be;
    font-size: 12px;
    padding: 3px 25px;
}
ul.list-coupon li .coupon-countdown .cp-btn a:hover, ul.list-coupon li .coupon-countdown .cp-btn a:focus {
    background: none repeat scroll 0 0 #07ad87;
}
ul.list-coupon li .coupon-countdown .cp-time {
    margin-bottom: 15px;
}
ul.list-coupon li .coupon-countdown .cp-time span {
    font-family: "MinionPro";
    font-size: 18px;
    margin-bottom: 5px;
}
ul.list-coupon li .coupon-countdown .cp-time h4 {
    color: #828282;
    font-size: 24px;
    font-weight: bold;
}
.coupon-list-direct {
    width: 100%;
}
.coupon-list-direct a {
    width: 50%;
}
.coupon-list-direct a.btn {
    padding: 15px 0;
}
.coupon-list-direct a.btn.btn-default {
    background: none repeat scroll 0 0 #d4d4d4;
}
.coupon-list-direct a.btn.btn-primary {
    background: none repeat scroll 0 0 #00c0be;
}
.coupon-list-direct a .icon-angle-arrow-left {
    background: url("../../images/icons/coupon-arrow-left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 13px;
}
.coupon-list-direct a .icon-angle-arrow-right {
    background: url("../../images/icons/coupon-arrow-right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 13px;
}
.icon-angle-arrow-left-dark {
    background: url("../../images/icons/coupon-arrow-left-dark.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 22px;
    vertical-align: middle;
    width: 13px;
}
.box-tags a {
    background: none repeat scroll 0 0 #f4f4f4;
    color: #828282;
    float: left;
    font-size: 18px;
    margin: 0 3px 3px 0;
    padding: 8px 10px;
}
.tab-recent.nav-justified {
    border-bottom: 0 none !important;
}
.tab-recent.nav-justified li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-bottom: 3px solid #07ad87 !important;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    color: #07ad87;
    cursor: pointer;
}
.tab-recent.nav-justified li a {
    border-bottom: 0 none !important;
    color: #828282;
    font-size: 18px;
}
.tab-recent.nav-justified li a:hover, .tab-recent.nav-justified li a:focus {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #07ad87 !important;
    border-image: none !important;
    border-style: none none solid !important;
    border-width: 0 0 3px !important;
    color: #07ad87;
    cursor: pointer;
}
.tab-about .ab-thumb {
    float: left;
    margin: 0 50px 30px 0;
}
.tab-about .ab-date {
    color: #979797;
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
.tab-about .ab-heading {
    font-family: "MinionPro";
    font-size: 14px;
}
.tab-about .ab-content {
    display: block;
    float: left;
}
.tab-about .ab-sign {
    float: right;
    margin-top: 20px;
}
.tab-gallery .row-thumb {
    border-bottom: 1px dashed #828282;
    display: block;
    float: left;
    width: 100%;
}
.tab-gallery .row-thumb:first-child .thumb {
    margin-top: 0;
}
.tab-gallery .row-thumb:last-child {
    border-bottom: 0 none;
}
.tab-gallery .row-thumb .thumb {
    display: block;
    float: left;
    margin: 20px 0;
    padding: 0 10px;
    width: 20%;
}
.tab-gallery .row-thumb .thumb img {
    width: 100%;
}
.tab-gallery .row-thumb .thumb.last {
    margin-right: 0;
}
.tab-gallery .row-thumb:first-child .thumb {
    margin-top: 0;
}
.tab-rating .border-bottom {
    border-top: 1px dashed #828282;
}
.tab-rating .likes, .tab-rating .comments {
    color: #828282;
    font-size: 24px;
    font-weight: bold;
    margin-right: 60px;
    text-transform: uppercase;
}
.tab-rating .media {
    margin-top: 0;
    padding: 12px 0;
}
.tab-rating .media.sub-media {
    margin-left: 65px;
}
.tab-rating .date {
    color: #979797;
    font-size: 12px;
}
.tab-rating textarea {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    height: 56px;
    padding: 10px;
    width: 100%;
}
.tab-rating .thread-title {
    display: inline-block;
    font-family: "MinionPro";
    font-size: 18px;
    margin-right: 5px;
}
.tab-rating .ico-heart {
    background: url("../../images/icons/ico-heart.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 23px;
    margin-right: 20px;
    vertical-align: middle;
    width: 27px;
}
.tab-rating .ico-comment {
    background: url("../../images/icons/ico-comment.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 27px;
    margin-right: 20px;
    vertical-align: middle;
    width: 29px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .tab-about .ab-thumb {
        margin-right: 0;
    }
    .box-analysis ul.list-analysis li {
        margin-bottom: 20px;
        width: 100%;
    }
    .box-analysis ul.list-analysis li:last-child {
        margin-bottom: 0;
    }
    #topbar {

    }
    #topbar .topbar-language {
        text-align: center;
    }
    #topbar .topbar-member {
        text-align: center;
    }
    #page-header {
        height: auto;
    }
    #page-header .header-logo {
        text-align: center;
    }
    #page-header .header-logo a img {
        display: inline-block;
    }
    #page-header .header-search-option {
        padding-bottom: 0;
        padding-top: 0;
    }
    #menu ul.dropdown-menu {
        width: 280px !important;
    }
    .page-content #page-slider #carousel-large {
        height: 126px !important;
        width: 280px !important;
    }
    .page-content #page-slider #carousel-large .cycle-overlay {
        bottom: 0;
        padding: 5px;
        width: 54%;
    }
    .page-content #page-slider #carousel-large .cycle-overlay div {
        font-size: 12px !important;
    }
    .page-content #page-slider #carousel-large a img {
        height: 126px !important;
        width: 280px !important;
    }
    .page-content #page-slider #carousel-small {
        height: 132px !important;
        width: 280px !important;
    }
    .page-content #page-slider #carousel-small a img {
        height: 132px !important;
        width: 280px !important;
    }
}
ul.menu-scroll li {
    display: inline-block;
    float: left;
    width: 25%;
}
ul.menu-scroll li a {
    text-align: center;
}
ul.menu-scroll li a .icon-nav-lamdep {
    left: 5%;
}
ul.menu-scroll li a .icon-new {
    right: 15px;
}
ul.menu-scroll li a .icon-nav-anuong {
    left: 15%;
}
ul.menu-scroll li a .icon-nav-coupon {
    left: 5%;
}
ul.menu-scroll li ul li {
    width: 100%;
}
#search-complete {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #e5e5e5;
    display: none;
    margin-top: 5px;
    padding: 10px;
    position: relative;
    width: 360px;
    z-index: 9999;
}
#search-complete.box-list li:first-child {
    border-top: 0 none;
    padding-top: 0;
}
#search-complete.box-list li a {
    font-family: "MinionPro";
    font-size: 19px;
}
#search-complete.box-list li .address {
    font-size: 12px;
}
#popup-register-success .modal-dialog, #popup-coupon-login .modal-dialog, #popup-confirm-id .modal-dialog, #popup-alert-success .modal-dialog, #popup-alert-error .modal-dialog {
    margin-top: 10%;
    width: 320px;
}
#popup-register-success .modal-dialog .modal-content, #popup-coupon-login .modal-dialog .modal-content, #popup-confirm-id .modal-dialog .modal-content, #popup-alert-success .modal-dialog .modal-content, #popup-alert-error .modal-dialog .modal-content {
    border-radius: 0;
}
#popup-register-success .modal-dialog .modal-content .modal-body, #popup-coupon-login .modal-dialog .modal-content .modal-body, #popup-confirm-id .modal-dialog .modal-content .modal-body, #popup-alert-success .modal-dialog .modal-content .modal-body, #popup-alert-error .modal-dialog .modal-content .modal-body {
    position: relative;
    text-align: center;
}
#popup-register-success .modal-dialog .modal-content .modal-body img, #popup-coupon-login .modal-dialog .modal-content .modal-body img, #popup-confirm-id .modal-dialog .modal-content .modal-body img, #popup-alert-success .modal-dialog .modal-content .modal-body img, #popup-alert-error .modal-dialog .modal-content .modal-body img {
    display: inline-block;
}
#popup-register-success .modal-dialog .modal-content .modal-body p, #popup-coupon-login .modal-dialog .modal-content .modal-body p, #popup-confirm-id .modal-dialog .modal-content .modal-body p, #popup-alert-success .modal-dialog .modal-content .modal-body p, #popup-alert-error.modal-dialog .modal-content .modal-body p {
    color: #444444;
    font-style: italic;
    margin: 20px 0;
    text-transform: uppercase;
}
#popup-register-success .modal-dialog .modal-content .modal-body a.btn, #popup-coupon-login .modal-dialog .modal-content .modal-body a.btn, #popup-confirm-id .modal-dialog .modal-content .modal-body a.btn, #popup-alert-success .modal-dialog .modal-content .modal-body a.btn, #popup-alert-error .modal-dialog .modal-content .modal-body a.btn {
    background: none repeat scroll 0 0 #00c0be;
    padding: 3px 30px;
}
#popup-register-success .modal-dialog .modal-content .modal-body .icon-close, #popup-coupon-login .modal-dialog .modal-content .modal-body .icon-close, #popup-confirm-id .modal-dialog .modal-content .modal-body .icon-close, #popup-alert-success .modal-dialog .modal-content .modal-body .icon-close, #popup-alert-error .modal-dialog .modal-content .modal-body .icon-close {
    background: url("../../images/icon-close.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
}
#popup-register-success .modal-dialog .modal-content .modal-body small, #popup-coupon-login .modal-dialog .modal-content .modal-body small, #popup-confirm-id .modal-dialog .modal-content .modal-body small, #popup-alert-success .modal-dialog .modal-content .modal-body small, #popup-alert-error .modal-dialog .modal-content .modal-body small {
    color: #444444;
    float: left;
    font-style: italic;
}
#popup-register-success .modal-dialog .modal-content .modal-body input[type="text"], #popup-coupon-login .modal-dialog .modal-content .modal-body input[type="text"], #popup-confirm-id .modal-dialog .modal-content .modal-body input[type="text"], #popup-alert-success .modal-dialog .modal-content .modal-body input[type="text"], #popup-alert-error .modal-dialog .modal-content .modal-body input[type="text"] {
    border: 1px solid #e5e5e5;
    border-radius: 0;
}
#popup-login-coupon .modal-dialog {
    margin-top: 10%;
    width: 320px;
}
#popup-login-coupon .modal-dialog .modal-content {
    border-radius: 0;
}
#popup-login-coupon .modal-dialog .modal-content .modal-body p {
    color: #444444;
    font-style: italic;
    margin: 20px 30px;
    text-align: center;
    text-transform: uppercase;
}
#popup-login-coupon .modal-dialog .modal-content .modal-body label.checkbox-inline {
    font-style: italic;
    margin-bottom: 20px;
}
#popup-login-coupon .modal-dialog .modal-content .modal-body button.btn {
    background: none repeat scroll 0 0 #00c0be;
    padding: 2px 30px;
}
#popup-login-coupon .modal-dialog .modal-content .modal-body a {
    color: #349178;
}
#popup-login-coupon .modal-dialog .modal-content .modal-body .icon-close {
    background: url("../../images/icons/icon-close.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
}
#popup-login-coupon .modal-dialog .modal-content .modal-body input[type="text"] {
    border: 1px solid #e5e5e5;
    border-radius: 0;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.text-color {
    color: #444444 !important;
}
.text-primary {
    color: #00c0be !important;
}
ul#form-login, ul#form-register {
    color: #2d2b2b;
    border-radius: 0;
    padding: 20px 30px;
    width: 365px;
}
ul#form-login:before, ul#form-register:before {
    border-bottom: 8px solid #c9cccd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    position: absolute;
    right: 10px;
    top: -9px;
    z-index: 0;
}
ul#form-login:after, ul#form-register:after {
    border-bottom: 8px solid #ecf0f1;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    position: absolute;
    right: 10px;
    top: -7px;
    z-index: 1;
}
ul#form-login li input[type="text"], ul#form-login li input[type="password"], ul#form-register li input[type="text"], ul#form-register li input[type="password"] {
    border: 1px solid #e5e5e5;
}
ul#form-login li button.btn, ul#form-register li button.btn {
    background: none repeat scroll 0 0 #dcd1bd;
    padding: 2px 20px;
}

ul#form-login li label.checkbox-inline, ul#form-register li label.checkbox-inline {
    font-style: italic;
    line-height: 1.42857;
    margin-bottom: 20px;
}
ul#dropdown-user {
    border-radius: 0;
    right: 4px;
    text-align: left;
    top: 35px;
}
ul#dropdown-user:before {
    border-bottom: 4px solid #e5e5e5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    position: absolute;
    right: 10px;
    top: -5px;
    z-index: 0;
}
ul#dropdown-user:after {
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    position: absolute;
    right: 10px;
    top: -4px;
    z-index: 1;
}
ul#dropdown-user li a {
    font-size: 12px;
    font-weight: bold;
    margin: 0 !important;
    padding: 5px 20px;
}
.last-col {
    overflow: hidden !important;
}
.best-views {
    margin-bottom: 0;
}
.best-views li {
    border-bottom: 1px dashed #777777;
    padding: 15px 0;
    position: relative;
}
.best-views li .thumb {
    margin-bottom: 10px;
}
.best-views li .name {
    font-family: "MinionPro";
    font-size: 18px;
}
.best-views li .desc {
    margin-top: 5px;
}
.best-views li:first-child {
    padding-top: 0;
}
.best-views li:last-child {
    border-bottom: 0 none;
}
.breadcrumbs {
    background: none repeat scroll 0 0 transparent;
    text-transform: uppercase;
}
.breadcrumbs li {
    color: #828282;
    font-size: 10px;
}
.tab-news {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.tab-news .nav-tabs.list-address {
    border-bottom: 0 none !important;
}
.tab-news .nav-tabs.list-address li.active a {
    background: url("../../images/icons/arrow-tabs.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #828282;
    display: inline-block;
    width: 100%;
}
.tab-news .nav-tabs.list-address li a {
    border: 0 none !important;
    color: #828282;
    text-transform: uppercase;
}
.tab-news-content .info {
    padding: 5px 0;
}
.tab-news-content .info span.author {
    color: #979797;
    font-family: "MinionPro";
    font-size: 12px;
    margin-right: 15px;
}
.tab-news-content .info span.date {
    color: #00c0be;
    font-family: "MinionPro";
    font-size: 12px;
    margin-right: 15px;
}
.tab-news-content .info a.comments {
    color: #9e9e9e;
    font-family: "MinionPro";
    font-size: 12px;
}
.tab-news-content .name {
    color: #3d3d3d;
    font-family: "MinionPro";
    font-size: 18px;
    margin-bottom: 10px;
}
.tab-news-content .desc {
    color: #6f6f6f;
}
.tab-news-content .list-news li {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    position: relative;
}
.tab-news-content .list-news li .thumb img {
    float: left;
}
.tab-news-content .list-news li .name {
    margin-bottom: 5px;
}
.tab-news-content .list-news li .name a:hover {
    text-decoration: underline;
}
.tab-news-content .list-news li .info {
    margin-bottom: 10px;
    padding: 0;
}
.tab-news-content .list-news li:last-child {
    border-bottom: 0 none;
}
.news-view-title {
    font-family: "MinionPro";
    font-size: 18px;
    text-transform: uppercase;
}
.pagination li a {
    border: 1px solid #ffffff;
    color: #c0c0c0;
    margin: 2px 1px;
    padding: 3px 6px;
}
.pagination li a:hover {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #c0c0c0;
}
.pagination li a i.fa {
    margin: 0 5px;
}
.pagination li:first-child a, .pagination li:last-child a {
    color: #080808;
}
.wrap-content {
    font-size: 14px;
}
.wrap-content h1 {
    margin-top: 0;
}
.wrap-content .div-tool .tool-item {
    border-bottom: 1px solid #c0c0c0;
    margin-top: 15px;
    padding-bottom: 10px;
    vertical-align: middle;
}
.wrap-content .div-tool .tool-item i {
    background: none repeat scroll 0 0 #00c0be;
    color: #ffffff;
    margin-right: 10px;
    padding: 5px 9px;
}
.wrap-content .div-tool .tool-item i.fa-google-plus {
    padding: 5px 6px;
}
.wrap-content .div-tool .tool-item a {
    vertical-align: middle;
}
.wrap-content .div-tool .tool-item:last-child {
    border-bottom: medium none;
}
.wrap-content .div-tool .tool-item:last-child i {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #00c0be;
    font-size: 18px;
    margin-right: 7px;
    padding-left: 3px;
}
.wrap-content .div-tool .tool-item:last-child a {
    display: inline-block;
}
.wrap-content .content {
    border-bottom: 1px solid #c0c0c0;
    margin-top: 15px;
    padding-bottom: 50px;
}
.wrap-content .comment {
    margin-top: 30px;
}
.wrap-content .comment .comment-item-input img {
    float: left;
    margin-right: 10px;
}
.wrap-content .comment .comment-item {
    border-bottom: 1px dashed #666666;
    padding: 7px 0;
}
.wrap-content .comment .comment-item img {
    float: left;
    margin-right: 10px;
}
.wrap-content .comment .comment-item textarea {
    width: 85%;
}
.wrap-content .comment .comment-item span.date {
    display: block;
    opacity: 0.8;
}
.wrap-content .comment .comment-item:last-child {
    border-bottom: medium none;
}
.wrap-content .comment button.btn.more-comment {
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
}
.wrap-content .more-news h4 {
    font-weight: normal;
    text-decoration: underline;
}
.wrap-content .more-news ul {
    padding-left: 15px;
}
.wrap-content .more-news ul li {
    padding: 5px 0;
}
.wrap-content .more-news ul li span.date {
    margin-left: 15px;
    opacity: 0.6;
}
.info {
    padding: 5px 0;
}
.info span.author {
    color: #979797;
    font-family: "MinionPro";
    font-size: 12px;
    margin-right: 15px;
}
.info span.date {
    color: #00c0be;
    font-family: "MinionPro";
    font-size: 12px;
    margin-right: 15px;
}
.info a.comments {
    color: #9e9e9e;
    font-family: "MinionPro";
    font-size: 12px;
}
.last-col {
    overflow: hidden !important;
}
.ptn, .pvn, .pan {
    padding-top: 0 !important;
}
.ptx, .pvx, .pax {
    padding-top: 3px !important;
}
.pts, .pvs, .pas {
    padding-top: 5px !important;
}
.ptm, .pvm, .pam {
    padding-top: 10px !important;
}
.ptl, .pvl, .pal {
    padding-top: 20px !important;
}
.ptsl, .pvsl, .pasl {
    padding-top: 25px !important;
}
.ptxl, .pvxl, .paxl {
    padding-top: 30px !important;
}
.ptxxl, .pvxxl, .paxxl {
    padding-top: 40px !important;
}
.prn, .phn, .pan {
    padding-right: 0 !important;
}
.prx, .phx, .pax {
    padding-right: 3px !important;
}
.prs, .phs, .pas {
    padding-right: 5px !important;
}
.prm, .phm, .pam {
    padding-right: 10px !important;
}
.prl, .phl, .pal {
    padding-right: 20px !important;
}
.prsl, .phsl, .pasl {
    padding-right: 25px !important;
}
.prxl, .phxl, .paxl {
    padding-right: 30px !important;
}
.prxxl, .phxxl, .paxxl {
    padding-right: 40px !important;
}
.pbn, .pvn, .pan {
    padding-bottom: 0 !important;
}
.pbx, .pvx, .pax {
    padding-bottom: 3px !important;
}
.pbs, .pvs, .pas {
    padding-bottom: 5px !important;
}
.pbm, .pvm, .pam {
    padding-bottom: 10px !important;
}
.pbl, .pvl, .pal {
    padding-bottom: 20px !important;
}
.pbsl, .pvsl, .pasl {
    padding-bottom: 25px !important;
}
.pbxl, .pvxl, .paxl {
    padding-bottom: 30px !important;
}
.pbxxl, .pvxxl, .paxxl {
    padding-bottom: 40px !important;
}
.pln, .phn, .pan {
    padding-left: 0 !important;
}
.plx, .phx, .pax {
    padding-left: 3px !important;
}
.pls, .phs, .pas {
    padding-left: 5px !important;
}
.plm, .phm, .pam {
    padding-left: 10px !important;
}
.pll, .phl, .pal {
    padding-left: 20px !important;
}
.plsl, .phsl, .pasl {
    padding-left: 25px !important;
}
.plxl, .phxl, .paxl {
    padding-left: 30px !important;
}
.plxxl, .phxxl, .paxxl {
    padding-left: 40px !important;
}
.mtn, .mvn, .man {
    margin-top: 0 !important;
}
.mtx, .mvx, .max {
    margin-top: 3px !important;
}
.mts, .mvs, .mas {
    margin-top: 5px !important;
}
.mtm, .mvm, .mam {
    margin-top: 10px !important;
}
.mtl, .mvl, .mal {
    margin-top: 20px !important;
}
.mtsl, .mvsl, .masl {
    margin-top: 25px !important;
}
.mtxl, .mvxl, .maxl {
    margin-top: 30px !important;
}
.mtxxl, .mvxxl, .maxxl {
    margin-top: 40px !important;
}
.mrn, .mhn, .man {
    margin-right: 0 !important;
}
.mrx, .mhx, .max {
    margin-right: 3px !important;
}
.mrs, .mhs, .mas {
    margin-right: 5px !important;
}
.mrm, .mhm, .mam {
    margin-right: 10px !important;
}
.mrl, .mhl, .mal {
    margin-right: 20px !important;
}
.mrsl, .mhsl, .masl {
    margin-right: 25px !important;
}
.mrxl, .mhxl, .maxl {
    margin-right: 30px !important;
}
.mrxxl, .mhxxl, .maxxl {
    margin-right: 40px !important;
}
.mbn, .mvn, .man {
    margin-bottom: 0 !important;
}
.mbx, .mvx, .max {
    margin-bottom: 3px !important;
}
.mbs, .mvs, .mas {
    margin-bottom: 5px !important;
}
.mbm, .mvm, .mam {
    margin-bottom: 10px !important;
}
.mbl, .mvl, .mal {
    margin-bottom: 20px !important;
}
.mbsl, .mvsl, .masl {
    margin-bottom: 25px !important;
}
.mbxl, .mvxl, .maxl {
    margin-bottom: 30px !important;
}
.mbxxl, .mvxxl, .maxxl {
    margin-bottom: 40px !important;
}
.mln, .mhn, .man {
    margin-left: 0 !important;
}
.mlx, .mhx, .max {
    margin-left: 3px !important;
}
.mls, .mhs, .mas {
    margin-left: 5px !important;
}
.mlm, .mhm, .mam {
    margin-left: 10px !important;
}
.mll, .mhl, .mal {
    margin-left: 20px !important;
}
.mlsl, .mhsl, .masl {
    margin-left: 25px !important;
}
.mlxl, .mhxl, .maxl {
    margin-left: 30px !important;
}
.mlxxl, .mhxxl, .maxxl {
    margin-left: 40px !important;
}
.navigation {
    margin-bottom: 0 !important;
    margin-top: -5px !important;
    text-transform: uppercase;
}
.navigation-text {
    color: #828282;
    font-size: 10px;
}
.cp-coupon {
    color: #828282;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.page-profile {
    margin-top: 20px;
}
.page-profile .user-profile .thumb-profile a img {
    width: 100%;
}
.page-profile .user-profile .name-profile {
    margin-top: 5px;
}
.page-profile .user-profile .name-profile span {
    color: #a5a5a5;
}
.page-profile .user-profile .change-thumb {
    font-size: 11px;
    margin-top: 5px;
    text-decoration: underline;
}
.page-profile .menu-user-profile {
    margin-top: 30px;
    position: relative;
}
.page-profile .menu-user-profile ul li {
    border-top: 1px solid #a5a5a5;
}
.page-profile .menu-user-profile ul li:last-child {
    border-bottom: 1px solid #a5a5a5;
}
.page-profile .menu-user-profile ul li.active, .page-profile .menu-user-profile ul li.hover {
    background: url("../../images/icons/next_navigation.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #828282;
    display: inline-block;
    width: 100%;
}
.page-profile .menu-user-profile ul li.active a {
    color: #07ad87;
}
.page-profile .menu-user-profile ul li a {
    color: #a5a5a5;
}
.page-profile .menu-user-profile ul li a:hover, .page-profile .menu-user-profile ul li a:focus {
    color: #07ad87;
}
.page-profile .menu-user-profile ul li a p {
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0 !important;
    text-align: left;
}
.user-profile-detail {
    display: block;
    float: left;
    width: 100%;
}
.user-profile-detail #info-user h3, .user-profile-detail #history-get-coupon h3 {
    border-bottom: 1px dashed #656a70;
    color: #0a9978;
    font-weight: bold;
    margin-bottom: 10px !important;
    margin-top: 0 !important;
    padding-bottom: 30px;
}
.user-profile-detail #location-favorites h3, .user-profile-detail #menu-favorites h3 {
    color: #0a9978;
    float: left;
    font-weight: bold;
    margin: 0 30px 0 0 !important;
}
.user-profile-detail .content-pf, .user-profile-detail .history-pf {
    border-bottom: 1px dashed #656a70;
    padding-bottom: 10px;
    padding-top: 10px;
}
.user-profile-detail .content-pf:last-child, .user-profile-detail .history-pf:last-child {
    border-bottom: medium none;
}
#info-user .content-pf input {
    border-radius: 2px !important;
}
#info-user .content-pf h4 {
    color: #07ad87;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0 0 0 10px !important;
}
.mg_10 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn-update {
    float: right;
    padding-right: 16px;
}
#info-user .title-pf {
    margin-top: 5px;
}
.box-list-detail {
    display: block;
    float: left;
    width: 100%;
}
.item-history .hr-thumb {
    display: inline-block;
    float: left;
    margin: 0 25px 10px 0;
    position: relative;
}
.item-history .hr-sale {
    background: url("../../images/icons/coupon-sale.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #ffffff;
    height: 28px;
    left: 11%;
    position: absolute;
    text-align: center;
    width: 44px;
}
.item-history .hr-date {
    color: #da1717;
    float: left;
    font-size: 12px;
    margin-right: 60px;
    padding-top: 5px;
}
.item-history .hr-date p {
    color: #979797;
    float: left;
    margin: 0 10px 0 0 !important;
}
.item-history .hr-check p {
    color: grey;
    font-size: 12px;
    padding-top: 4px;
}
.item-history .hr-check input {
    margin-right: 10px;
}
.item-history .hr-check .check-coupon, .district .check-coupon {
    background: url("../../images/icons/uncheck-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 30px;
    width: 30px;
}
.item-history .hr-check .check-coupon.checked, .district .check-coupon.checked {
    background: url("../../images/icons/check-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.item-history .hr-name {
    margin-bottom: 10px;
}
.item-history .hr-name a {
    font-family: "MinionPro";
    font-size: 18px;
}
.item-history .hr-desc {
    color: #6f6f6f;
    font-size: 12px;
    margin-bottom: 20px;
}
.non-border-bottom {
    border-bottom: medium none !important;
}
.history-list-direct a, .favorites-list-direct a {
    background-color: #dbdbdb !important;
    width: 100% !important;
}
.pf-tab-location .nav > li > a {
    padding: 8px 20px 0 !important;
}
.pf-tab-location .nav-tabs > li > a {
    border-radius: 3px !important;
}
.pf-tab-location {
    position: relative;
}
.pf-tab-location .nav-tabs.list-address {
    border-bottom: 0 none !important;
    margin-top: -5px;
}
.pf-tab-location .nav-tabs.list-address li {
    margin-right: 2px;
}
.pf-tab-location .nav-tabs.list-address li a:hover, .pf-tab-location .nav-tabs.list-address li a:focus {
    background-color: #abadac;
    color: #828282;
    display: inline-block;
    font-weight: 500;
    width: 100%;
}
.pf-tab-location .nav-tabs.list-address li.active a {
    background-color: #07ad87;
    color: #fff;
    display: inline-block;
    font-weight: 800;
    width: 100%;
}
.pf-tab-location .nav-tabs.list-address li a {
    border: 0 none !important;
    color: #828282;
}
.tab-content .lc-list-address-detail {
    display: block;
    float: left;
    width: 100%;
}
.tab-content .lc-list-address-detail .lc-item-favorites {
    border-top: 1px dashed #656a70;
    margin-top: 25px;
}
.tab-content .lc-list-address-detail .lc-item-favorites:last-child {
    border-bottom: 1px dashed #656a70;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.tab-content .lc-list-address-detail .lc-item-favorites .lc-thumb {
    float: left;
    padding-top: 10px;
}
.tab-content .lc-list-address-detail .lc-item-favorites .lc-date {
    color: #9e9e9e;
    font-size: 12px;
    margin-left: 80px;
    padding-top: 10px;
}
.tab-content .lc-list-address-detail .lc-item-favorites .lc-name a {
    font-family: "MinionPro";
    font-size: 18px;
    margin-left: 10px;
    margin-top: 3px;
}
.tab-content .lc-list-address-detail .lc-item-favorites .lc-address {
    color: #9e9e9e;
    font-size: 13px;
    margin-left: 80px;
    margin-top: 5px;
}
.lc-item-favorites .box-social {
    background: none repeat scroll 0 0 #959792;
    float: left;
    height: 100%;
    margin-top: 20px;
    text-align: center;
    width: 40%;
}
.lc-item-favorites .box-social a {
    color: #ffffff;
    float: left;
    margin-left: 5px;
    padding: 5px 0;
    width: 90%;
}
.lc-item-favorites .icon-eyes {
    background: url("../../images/icons/icon-eyes.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 31px;
}
.lc-item-favorites .icon-like {
    background: url("../../images/icons/icon-like.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    width: 19px;
}
#menu-favorites {
}
.menu-favorites-details {
    display: block;
    float: left;
    width: 100%;
}
.fav-title {
    border-top: 1px dashed #656a70;
    margin-top: 15px;
}
.fav-title h5 {
    color: grey;
    float: left;
    margin: 18px 0 0 -15px !important;
}
.fav-title .select-option {
    -moz-appearance: none;
    background: url("../../images/icons/dropdown-pf.png") no-repeat scroll 150px center #ffffff;
    border: 1px solid #808080;
    line-height: 1;
    margin: 10px 0 0 40px;
    outline: medium none;
    padding: 5px;
    text-indent: 0.01px;
    width: 180px;
}
.district {
    margin-top: 70px;
}
.image-slide {
    display: block;
    height: 350px;
    width: 780px;
}
.float_left {
    float: left !important;
}
.name-shop {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
.address-shop {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
}
.list-recent .box-item {
    border-bottom: 1px dashed #777777;
    border-top: medium none;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.list-recent .box-item a.name {
    font-family: "MinionPro";
    font-size: 13px;
}
.list-recent .box-item a.name:hover, .list-recent .box-item a.name:focus {
    text-decoration: underline;
}
.list-recent .box-item .address {
    margin-top: 4px;
}
.box-item {
    border-top: 1px dashed #777777;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.box-item .thumb {
    float: left;
    margin: 0 10px 10px 0;
}
.box-item .ribbon-new {
    background: url("../../images/icons/ribbon-new.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 22px;
    position: absolute;
    right: 20px;
    top: 15px;
    width: 43px;
}
.box-item .date {
    color: #979797;
    font-size: 12px;
    margin-bottom: 5px;
}
.box-item a.name {
    font-family: "MinionPro";
    font-size: 18px;
}
.box-item a.name:hover, .box-item a.name:focus {
    text-decoration: underline;
}
.box-item .address {
    margin-top: 7px;
}
.list-coupon .coupon-detail {
    border-bottom: 1px dashed #777777;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.list-coupon .coupon-detail:last-child {
    border-bottom: 0 none;
}
.list-coupon .coupon-info .cp-thumb {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}
.list-coupon .coupon-info .cp-sale {
    background: url("../../images/icons/coupon-sale.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #ffffff;
    height: 28px;
    left: 14%;
    position: absolute;
    text-align: center;
    width: 44px;
}
.list-coupon .coupon-info .cp-date {
    color: #979797;
    font-size: 12px;
}
.list-coupon .coupon-info .cp-name {
    margin-bottom: 5px;
}
.list-coupon .coupon-info .cp-name a {
    font-family: "MinionPro";
    font-size: 18px;
}
.list-coupon .coupon-info .cp-name a:hover, .list-coupon .coupon-info .cp-name a:focus {
    text-decoration: underline;
}
.list-coupon .coupon-info .cp-desc {
    color: #6f6f6f;
    font-size: 12px;
    margin-bottom: 20px;
}
.list-coupon .coupon-countdown .cp-btn a {
    background: none repeat scroll 0 0 #00c0be;
    font-size: 12px;
    padding: 3px 25px;
}
.list-coupon .coupon-countdown .cp-time {
    margin-bottom: 15px;
}
.list-coupon .coupon-countdown .cp-time span {
    font-family: "MinionPro";
    font-size: 18px;
    margin-bottom: 5px;
}
.list-coupon .coupon-countdown .cp-time h4 {
    color: #828282;
    font-size: 24px;
    font-weight: bold;
}
#page-wrapper-error-404 {
    background-image: url("../../images/error/background.jpg");
}
#page-wrapper-error-404 .image {
    margin-left: 190px;
    position: relative;
}
#page-wrapper-error-404 .description {
    margin-left: 400px;
}
#page-wrapper-error-404 .description p {
    color: #999;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
#page-wrapper-error-404 .come-back {
    margin-left: 510px;
}
#page-wrapper-error-404 .come-back a {
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
#page-wrapper-error-404 .come-back a:hover, #page-wrapper-error-404 .come-back a:focus {
    text-decoration: underline;
}
#page-wrapper-error-404 .homepage {
    background-image: url("../../images/error/back-home.jpg");
    height: 150px;
    margin-bottom: 400px;
    margin-left: 475px;
    margin-top: 15px;
    width: 150px;
}
#page-wrapper-error-404 .homepage:hover, #page-wrapper-error-404 .homepage:focus {
    background-position: 0 150px;
}
#page-wrapper-error-500 {
    background-image: url("../../images/error/background.jpg");
}
#page-wrapper-error-500 .fit-500 {
    background: url("../../images/error/500-phich.jpg") no-repeat scroll 590px 0 rgba(0, 0, 0, 0);
}
#page-wrapper-error-500 .image {
    margin-bottom: 50px;
    margin-left: 200px;
    margin-top: 100px;
}
#page-wrapper-error-500 .description {
    margin-left: 410px;
}
#page-wrapper-error-500 .description p {
    color: #999;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
#page-wrapper-error-500 .come-back {
    margin-left: 500px;
}
#page-wrapper-error-500 .come-back a {
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}
#page-wrapper-error-500 .come-back a:hover, #page-wrapper-error-500 .come-back a:focus {
    text-decoration: underline;
}
#page-wrapper-error-500 .homepage {
    background-image: url("../../images/error/back-home.jpg");
    height: 150px;
    margin-bottom: 400px;
    margin-left: 470px;
    margin-top: 15px;
    width: 150px;
}
#page-wrapper-error-500 .homepage:hover, #page-wrapper-error-500 .homepage:focus {
    background-position: 0 150px;
}
ul#form-register-shop {
    border-radius: 0;
    padding: 20px 30px;
    width: 320px;
}
ul#form-register-shop:before {
    border-bottom: 4px solid #e5e5e5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    position: absolute;
    right: 10px;
    top: -5px;
    z-index: 0;
}
ul#form-register-shop:after {
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    position: absolute;
    right: 10px;
    top: -4px;
    z-index: 1;
}
ul#form-register-shop li input[type="text"], ul#form-register-shop li input[type="password"] {
    border: 1px solid #e5e5e5;
}
ul#form-register-shop li button.btn {
    background: none repeat scroll 0 0 #00c0be;
    padding: 2px 20px;
}
ul#form-register-shop li label.checkbox-inline {
    font-style: italic;
    line-height: 1.42857;
    margin-bottom: 20px;
}
.menu-list {
    height: 460px;
}
.on-top {
    bottom: 80px;
    color: #000000;
    display: none;
    font-size: 12px;
    padding: 1em;
    position: fixed;
    right: 260px;
    text-decoration: none;
}
.btn-login-rigister {
    color: #2d2b2b;
    font-size: 14px;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out 0s;
}
.btn-login-rigister:hover {
    color: #2d2b2b;
}
.href {
    background: none repeat scroll 0 0 #3c2313!important;
    color: #fff !important;
    padding: 10px !important;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
}
.href:hover {
    background: none repeat scroll 0 0 #3c2313 !important;
}

.green-color {
    color: #FFF;
    background-color: #00C0BE;
    border-color: #00C0BE;
}

.btn{
    font-family: "Petrona",arial,serif;
    background: none repeat scroll 0 0 #dcd1bd;
    border: 1px solid transparent;
    color: #2d2b2b;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    vertical-align: middle;
    white-space: nowrap;
    border-radius:0px;
}

.btn:hover, .btn:focus{
    background: none repeat scroll 0 0 #dcd1bd;
    color: #2d2b2b;
    text-decoration: none;
    border: 1px solid transparent;
}

.cart-indent .mini-products-list{
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-title, .category-title {
    background: none repeat scroll 0 0 #00c0be;
    margin: 0 0 33px;
    padding: 9px 20px 8px 38px;
    color: #FFF;
}
h1, h2, h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.control-label{
    padding-top:7px;
}

.form-group label{
    text-align:right;
}
.form-group label.required{
    color: red;
}
.red{
    color: #da573b;
}

.green{
    color: #16a085;
}

.title-step{
    font-weight: bold;
    font-size: 16px;
    color: #3c2313;
}

.sub-title-content{
    font-size: 15px;
}

.text-white{
    color: #ffffff;
}

.text-header-rgt{
    color: #2d2b2b;
    margin-left: 5px;
}

.menu-step{
    font-family: "Petrona",arial,serif ;
    color: #2d2b2b !important;
    font-weight: bold;
}

.custom-backward{
    font-family: "Petrona",arial,serif;
    background-color: #f7f0e0;
    color: #3c2313;
    border-color: #3c2313;
}

.service_label{
    font-family: "Petrona", arial, serif;
    font-size: 14px;
    font-weight: bold;
}

.timeleft{
    height: 23px;
    width: 79px;
    text-align: center;
    float: right;
    background: url(../../images/timer-bg.png) no-repeat;
    color: #ffffff;
}

.time{
    float: right;
    font-weight: bold;
}

.minsremaining{
    line-height: 23px;
    font-size:17px;
    font-weight: bold;
}

#progressbar{
    height: 10px;
    background: #f7f0e0;
}

#business_info{

}
.head-block{
    background: #dcd1bd;
    padding-top:10px;
    color: #2d2b2b;
}
.head-block-pad{
    padding: 10px;
    margin-bottom: 10px;
}
footer{
    /*position: fixed;*/
    bottom: 0px;
    width: 100%;
}

.main-container{
    background: #f7f0e0 ;
    margin-bottom: 40px;
}

.button-color{
    font-weight: bold;
    color: #2d2b2b;
}

.hr-format{
    border-color: #3c2313;
}

.input-right-panel{
    background-color: #edd8b2;
    font-size: 13px;
}

.custom-dropdown-menu{

}

.employee_chosen_zone{
    background-color: #f7f0e0 !important;
}

select::-ms-expand{
    display: none;
}

.employee_dpl select{
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding-right: 15px;
}

.employee_dpl{
    width: 200px;
    background: #F3F3F3 url("../../images/arrow_down_select.png") no-repeat 99% 7px;
}
.customer-review-table{
    border-collapse: separate;
    border-spacing: 10px;
}

.customer-reviews-panel{
    border: 1px solid #3C2313;
}

.customer-reviews-header{
    background: #3C2313;
    color: #2d2b2b;
}
.customer-reviews-body{
    background: #EDD8B2;
}

.custom-table>thead>tr>th, .custom-table>tbody>tr>th, .custom-table>thead>tr>td, .custom-table>tbody>tr>td {
    border: 1px solid #3C2313;
}

.crete-reset-customer-pin:hover{
    color: #3c2313;
    font-weight: bold;
}

#section-booking-table>thead>tr>th{
    text-align: center;
    border-bottom: 1px solid #faebcc;
}

#section-credit-history{
    min-height:500px;
}
@media (max-width: 768px){
    #customer_infomation{
        margin-bottom: 10px;
    }
}

@media (max-width: 360px){
    #topbar .topbar-language a img{
        max-width: 100%;
    }

}